<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Katalog Restoran</title>        
    
</head>
<body class="text-white">
    <a class="skip-to-content-link" tabindex="0" href="#content">Skip to content</a>

    <button id="hamburger" class="my-auto hidden d-flex justify-content-center align-items-center">☰</button>
    
    <nav id="drawer" class="pt-1">            
        <ul class="list-style-none">
            <li><a class="decoration-none d-inline-block" href="index.html">Home</a></li>
            <li><a class="decoration-none d-inline-block" href="#">Favorite</a></li>
            <li><a class="decoration-none d-inline-block" href="https://github.com/ilham76c">About Us</a></li>            
        </ul>
    </nav>
    
    <nav class="d-flex justify-content-between px-1">        
        <span class="my-auto p-1"><b>CATALOG RESTAURANT</b></span>        
        <ul id="menu">
            <li class="d-inline"><a class="decoration-none p-1 skip-link" href="index.html">Home</a></li>
            <li class="d-inline"><a class="decoration-none p-1 skip-link" href="#">Favorite</a></li>
            <li class="d-inline"><a class="decoration-none p-1 skip-link" href="https://github.com/ilham76c">About Us</a></li>
        </ul>
    </nav>   

    <div id="jumbotron" class="d-flex justify-content-center align-items-center">
        <div class="container d-flex flex-column text-center">
            <h1>Welcome to Catalog Restaurant</h1>
            <p>you can find the restaurant you want here</p>
        </div>
    </div>

    <main class="d-flex flex-column">        
        <h2 id="content_title" class="mx-auto py-3">Explore Restaurant</h2>

        <div id="content" class="d-flex flex-column px-5"></div>
    </main>


    <footer class="d-flex justify-content-center">
        <p>Copyright © 2021 - Catalog Restaurant</p>
    </footer>
</body>
</html>