<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
</head>
<body>
    <nav class="d-flex justify-content-between">
        <span class="my-auto p-1">Katalog Restoran</span>
        <ul>
            <li><a class="decoration-none p-1" href="index.html">Home</a></li>
            <li><a class="decoration-none p-1" href="#">Favorite</a></li>
            <li><a class="decoration-none p-1" href="https://github.com/ilham76c">About Us</a></li>
        </ul>
    </nav>
    
    <div id="jumbotron">
        <div class="container">
            <h1>Katalog Restoran</h1>
        </div>
    </div>

    <main class="d-flex flex-column">
        <h2 class="mx-auto py-3">Explore Resaturant</h2>

        <div id="content" class="d-flex px-4 bg-red justify-content-evenly">
            <div class="card bg-white mx-1">
                <div class="card-head position-relative">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/41" alt="Avatar">
                    <p class="position-absolute ml-1">Medan</p>
                </div>                
                <div class="card-body">
                    <p>Rating: 4.5</p>
                    <h3><a href="#">Bring Your Phone Cafe</a></h3> 
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p> 
                </div>
            </div>

            <div class="card bg-white mx-1">
                <div class="card-head position-relative">
                    <img src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/07" alt="Avatar">
                    <p class="position-absolute ml-1">Bali</p>
                </div>                
                <div class="card-body">
                    <p>Rating: 4.5</p>
                    <h3><a href="#">Run The Gun</a></h3> 
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p> 
                </div>
            </div>
        </div>
    </main>
    <!-- <img src="./images/heros/hero-image_2.jpg" width="450" alt="">     -->
</body>
</html>