@media screen and (max-width: 550px) {
    .card {
        flex-direction: column;
    }
}

@media screen and (min-width: 750px) {
    .card {
        flex-direction: column;
    }
}

@media screen and (min-width: 750px) {
    .card {
        flex-direction: column;
    }
}

@media screen and (min-width: 1000px) {    
    .card {
        flex-direction: column;
    }
}